*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f4f4;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background:#003366;
}

.logo h1{
color:white;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav ul li a{
text-decoration:none;
color:white;
font-size:18px;
}

nav ul li a:hover{
color:gold;
}

header{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:#00509d;
color:white;
}

header h1{
font-size:50px;
margin-bottom:15px;
}

header p{
font-size:20px;
}

section{
padding:60px;
text-align:center;
}

h2{
margin-bottom:20px;
color:#003366;
}
